<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BDD Test Suite" verbose="1" parallel="methods"
       thread-count="3">
    <!-- <test name="WIN10TEST" annotations="JDK"
         preserve-order="true">
         <parameter name="browser" value="Internet Explorer"/>
         <parameter name="version" value="11.0"/>
         <parameter name="platform" value="WIN10"/>
         <classes>
             <class name="MyRunner.TestRunner" />
         </classes>
     </test> &lt;!&ndash; Test &ndash;&gt;
     <test name="WIN8TEST" annotations="JDK"
         preserve-order="true">
         <parameter name="browser" value="chrome"/>
         <parameter name="version" value="73.0"/>
         <parameter name="platform" value="WIN10"/>
         <classes>
             <class name="MyRunner.TestRunner" />
         </classes>
     </test>--> <!-- Test -->
  <test name="MACTEST FIREFOX" annotations="JDK"
          preserve-order="true">
        <parameter name="browser" value="firefox"/>
        <parameter name="version" value="latest"/>
        <parameter name="platform" value="windows"/>
        <classes>
            <class name="runner.TestRunner"/>
        </classes>
    </test>

<!--    <test name="MACTEST CHROME" annotations="JDK"
          preserve-order="true" >
        <parameter name="browser" value="chromedriver"/>
        <parameter name="version" value="latest"/>
        <parameter name="platform" value="mac"/>
        <classes>
            <class name="MyRunner.TestRunner"/>
        </classes>
    </test>-->

</suite>